<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>List view</title>
</head>
<body>
<div class="main">
    <table border="1">
        <thead>
            <tr>
                <td>ID</td>
                <td>Title</td>
                <td>Description</td>
            </tr>
        </thead>
        <tbody>
            {% for data in dataset %}
            <tr>
                <td>{{ data.id }}</td>
                <td>{{ data.title }}</td>
                <td>{{ data.description }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
</body>
</html>