{% extends 'base.html' %}
{% block content %}

<h1>Updating form:</h1>
<form method="POST" enctype="multipart/form-data">
    {% csrf_token %}
    <div>
        <label class="col-sm-2 col-form-label">Title:</label>
        <div class="col">
            {{ form.title }}
        </div>
        <div>
            <label class="col-sm-2 col-form-label">Description:</label>
            <div class="col">
                {{ form.description }}
            </div>
        </div>
        <input class="btn btn-primary" type="submit" value="Update">
    </div>
</form>

{% endblock %}